.container{
    border-radius: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height:600px;
    display: grid;
    background-color: white;
  grid-template-columns: 1fr 1fr;
    border: 1px solid white;
}



.container img {
  width: 95%;
  height: 100%;
  object-fit: fill;
}

.text {
  padding-left: 40px;
  padding-block: 80px;
}
.title{
  font-size: 25px;
}

.opimg{
max-height: 15px;
max-width:25px;
}

.data{
  padding-left: 5px;
}