.container{
    border-radius: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height:600px;
    display: grid;
    background-color: white;
  grid-template-columns: 1fr 1fr;
    border: 1px solid white;
}



.container img {
  width: 100%;
  height: 100%;
  object-fit: contain;;
}