.container{
    border-radius: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height:600px;
    display: grid;
    background-color: white;
  grid-template-columns: 1fr 1fr;
    border: 1px solid white;
}



.container img {
  width: 95%;
  height: 100%;
  object-fit: fill;
}

.text {
  padding-left: 40px;
  padding-block: 80px;
  padding-right: 40px;
}
.title{
  font-size: 25px;
}

.opimg{
max-height: 15px;
max-width:25px;
}

.data{
  padding-left: 5px;
  font-size: 14px;
}

.emailTitle{
  font-size: 14px;
}

#email{
  display: flex;
  width: 300px;
  height: 8%;
}
.subbtn{
  display: flex;
  width: 308px;
  height: 8%;
  justify-content: center;
  align-items: center;
  background-color: hsl(234, 29%, 20%);
  color: white;
}